/* ============================================================== Base Styles */
html {
    background: #fff;
    color: #000;
    font-size: 1em;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    font-family: verdana;
}

body {
    margin-left: 10px;
    padding: 0;
}

::-moz-selection {
    background: #066a8c;
    text-shadow: none;
}

::selection {
    background: #066a8c;
    text-shadow: none;
}

/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #999;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}


a {
    color: #8cc9f2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#appPassword {
    font-family: Roboto;
    font-size: 1.4em;
    word-break: break-all;
    text-align: center;
    border: 2px solid #000;
    border-bottom: 4px dashed;
    max-width: 800px;
    padding: 2px;
}

#appPassword .digit {
    color: #3299ff;
}

#appPassword .symbol {
    color: #e75a4a;
}

#appPassword::-moz-selection,
#appPassword .digit::-moz-selection,
#appPassword .symbol::-moz-selection {
    color: #fff;
}

#appPassword::selection,
#appPassword .digit::selection,
#appPassword .symbol::selection {
    color: #fff;
}

/* buttons */
div.button {
    margin-top:10px;    
    margin-bottom: 15px;
}

#appCopy, #appGenerate{
    cursor: hand;
    padding: 0.3em 1em;
    font-size: medium;
}

/* length of password */
#appLength {
    width: 72px;
    height: 24px;
    font-size: 16px;
    line-height: 1;
    color: #000;
    margin: 0;
    padding: 2px;
}


span {
    font-size: 16px;
    margin-right:5px;
}

/* checkbox */

.checkbox{
    margin-top:10px;    
}

.checkbox label {
    display: inline-block;
    width: 75px;
    height: 32px;
    cursor: default;
    position: relative;
}

.checkbox label input[type=checkbox] {

    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0;
    border: 2px solid #000;
    padding: 0;
    /* outline: none; */
    cursor: default;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translate(0, -50%);
}



.checkbox label span {
    display: inline-block;
    font-size: 16px;
    cursor: default;
    position: absolute;
    top: 50%;
    left: 26px;
    transform: translate(0, -50%);
}

/* exception */
div.exception {
    margin-top:10px;    
}

div.exception input {
    width: 200px;
    height: 24px;
    font-size: 16px;
    line-height: 1;
    color: #000;
    margin-top: 10px;
    padding: 2px;
}


/* footer */
footer {
    background-color:ghostwhite;
    width: 810px;
}

fieldset{
    width: 780px;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
