/* ============================================================== Base Styles */
html {
    background: #fff;
    color: #000;
    font-size: 1em;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-width: 320px;
}

body {
    margin: 0;
    padding: 0;
}

::-moz-selection {
    background: #066a8c;
    text-shadow: none;
}

::selection {
    background: #066a8c;
    text-shadow: none;
}

/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #999;
    margin: 0.5em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a {
    color: #8cc9f2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title {
    margin: 0.25em 0;
    padding: 0 4px;
    text-align: center;
    font-size: 1.6em;
}

.subtitle {
    margin: 0.25em 0 2em;
    padding: 0 4px;
    text-align: center;
    font-size: 0.8em;
    color: #7f7f7f;
}

.subtitle::-moz-selection {
    color: #fff;
}

.subtitle::selection {
    color: #fff;
}

#appPassword {
    font-family: monospace;
    font-size: 1.4em;
    word-break: break-all;
    text-align: center;
    border: 2px solid #000;
    border-bottom: 5px dotted;
    max-width: 800px;
    margin: 0 auto 15px;
    padding: 2px;
}

#appPassword .digit {
    color: #3299ff;
}

#appPassword .symbol {
    color: #e75a4a;
}

#appPassword::-moz-selection,
#appPassword .digit::-moz-selection,
#appPassword .symbol::-moz-selection {
    color: #fff;
}

#appPassword::selection,
#appPassword .digit::selection,
#appPassword .symbol::selection {
    color: #fff;
}

/* buttons */
div.button {
    text-align: center;
    margin-bottom: 15px;
}

#appCopy {
    margin-right: 0.4em;
    font-weight: bold;
    padding: 0.3em 1em;
    background: #c0c0c0;
    border: 2px solid #0c1217;
    color: #000;
    cursor: default;
}

#appCopy, #appGenerate{
    cursor: hand;
}

#appGenerate {
    font-weight: bold;
    padding: 0.3em 1em;
    background: #c0c0c0;
    border: 2px solid #0c1217;
    color: #000;
    cursor: default;
}

/* length of password */
#appLength {
    width: 72px;
    height: 24px;
    font-size: 16px;
    line-height: 1;
    color: #000;
    margin: 0;
    padding: 2px;
    position: absolute;
    top: 0;
    left: 0;
}

#appLength:focus {
    border: 2px dashed #fff;
    outline: none;
}

#appSlider {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 200px;
    height: 32px;
    margin: 0;
    border: 0;
    padding: 0;
    outline: none;
    cursor: default;
    position: absolute;
    top: 0;
    left: 100px;
}

#appSlider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 200px;
    height: 2px;
    background: #000;
    margin: 0;
    border: 0;
    padding: 0;
    cursor: default;
}

#appSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 32px;
    background: #1a4168;
    margin: -15px 0 0;
    border: 1px solid #79a6d2;
    padding: 0;
    cursor: default;
}

#appSlider::-moz-range-track {
    -moz-appearance: none;
    width: 200px;
    height: 2px;
    background: #fff;
    margin: 0;
    border: 0;
    padding: 0;
    cursor: default;
}

#appSlider::-moz-range-thumb {
    -moz-appearance: none;
    width: 16px;
    height: 32px;
    background: #1a4168;
    margin: -15px 0 0;
    border: 1px solid #79a6d2;
    padding: 0;
    cursor: default;
}

.length {
    width: 300px;
    height: 32px;
    position: relative;
    margin: 0 auto 15px;
}

/* checkbox */
.checkbox {
    width: fit-content;
    margin: 0 auto 15px;
}

.checkbox label {
    display: inline-block;
    width: 75px;
    height: 32px;
    cursor: default;
    position: relative;
}

.checkbox label input[type=checkbox] {

    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0;
    border: 2px solid #000;
    padding: 0;
    outline: none;
    cursor: default;
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translate(0, -50%);
}



.checkbox label span {
    display: inline-block;
    font-size: 16px;
    cursor: default;
    position: absolute;
    top: 50%;
    left: 26px;
    transform: translate(0, -50%);
}

/* exception */
div.exception {
    width: 300px;
    margin: 0 auto 15px;
    overflow: hidden;
}

div.exception span {
    line-height: 32px;
    font-size: 16px;
}

div.exception input {
    font-family: monospace;
    float: right;
    width: 200px;
    height: 24px;
    font-size: 16px;
    line-height: 1;
    color: #000;
    margin: 0;
    padding: 2px;
}

div.exception input:focus {
    border: 2px dashed #fff;
    outline: none;
}

/* footer */
footer {
    max-width: 800px;
    margin: 0 auto;
    --footer-color: rgba(255, 255, 255, 0.2);
}

footer hr {
    margin-top: 30px;
    border-top-color: var(--footer-color);
}

footer a {
    display: block;
    width: fit-content;
    margin: 0 auto;
    color: var(--footer-color);
}

footer a::-moz-selection {
    color: #fff;
}

footer a::selection {
    color: #fff;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ====================================== Media Queries for Responsive Design */
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
        /* Style adjustments for high resolution devices */
}
